/* Main Content Style */
.main-content {
    margin-left: 220px; /* Left menu width + margin */
    padding: 20px;
}

/* Main Container Style */
.main-container {
    display: flex;
    align-items: flex-start;
}

/* Left Container Style */
.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Right Container Style */
.right-container {
    margin-left: auto;
}

/* About Us Section Style */
#about-us {
    margin-bottom: 50px;
}

/* Contact Point Section Style */
#contact-point {
    margin-bottom: 50px;
}

/* Contact Info Style */
address {
    font-style: normal;
}
/* Main Content Style */
.main-content {
    margin-left: 220px; /* Left menu width + margin */
    padding: 20px;
}

/* Main Container Style */
.main-container {
    display: flex;
    align-items: flex-start;
}

/* Left Container Style */
.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Right Container Style */
.right-container {
    margin-left: auto;
}

/* About Us Section Style */
#about-us {
    margin-bottom: 50px;
}

/* Contact Point Section Style */
#contact-point {
    margin-bottom: 50px;
}

/* Contact Info Style */
address {
    font-style: normal;
}
